button.day, button.night {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: $black;
    @include night{
        color: #fff;
    }
}

button.esp, button.eng{
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    @include night{
        color: #fff;
    }
}

.btn{
    &-scrollDown{
        background: none;
        border: none;
        display: flex;
        justify-items: center;
        align-items: center;
        transform: rotate(-90deg);
        span{
            font-weight: 900;
            padding: 0 0 0 7px;
        }
        @include night{
            color: #fff;
        }
    }
    &-back{
        display: none;
        background: none;
        border: none;
        font-weight: 700;
        cursor: pointer;
        .icon-back{
            margin-right: 7px;
        }
        @include night{
            color: #fff;
        }
    }
}
.folio{
    font-weight: 700;
    margin: 0; 
    text-decoration: none;
    color: $black;
    display: flex;
    background: none;
    border: none;
    @include night{
        color: #fff;
    }
    .icon-back{
        margin: 0 7px 0 0;
    }
}
.skillsIcons{
    color: $magenta;
    font-size: 19px;
    margin-right: 7px;
}