.menuMain{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    &-row{
        width: 100%;
        max-width: 1080px;
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        transition: .3s ease-in-out;
        opacity: 0;
        // margin: auto;
        cursor: url('../images/cursor.svg'), auto;
        color: $black;
        &:hover{
            background: $magenta;
            transform: scale(1.05);
            .menuMain-col{
                &:nth-child(1){
                    transform: translateX(2%);
                }
            }
            .menuMain-txt{
                opacity: 1;
            }
        }
        @include night{
            border-bottom: 1px solid #fff;
        }
    }
    &-enter{
    animation-duration: .3s;
    animation-name: fadeInLeft;
    animation-fill-mode: forwards;
    // animation-delay:.15s;
    @keyframes fadeInLeft {
        from {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
        }
      
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
    &-col{
        transition: .3s ease-in-out;
        &:nth-child(1){
            text-align: left;
            // padding: 0 5%;
            width: calc(100% - 200px);
        }
        &:nth-child(2){
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include night{
            color: #fff;
        }
    }
    &-txt{
        margin: 0;
        padding: 0;
        text-align: right;
    }
    &__name{
        font-family: $roboto;
        font-size: 108px;
        font-weight: 900;
    }
    &-txt{
        opacity: 0;
        font-weight: 900;
    }
}

.active{
    
}