
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import "./fonts.scss";

$roboto: 'Roboto', sans-serif;
// $black: #272727;
$black: #262e38;
$magenta: #FF1F5B;

html, body{
    font-size: 14px;
    font-family: $roboto;
    margin: 0;
    padding: 0;
    position: relative;
}
body{
    transition: .3s ease-in-out;
}
body.night{
    background: $black;
}
// ================ mixins ===============
@mixin night {
    .night & {
        @content;
    }
}
@mixin esp {
    .esp & {
        @content;
    }
}
@mixin lg {
    @media (max-width: 1090px) {
        @content;
    }
  
}

@mixin media ($ancho) {
    @media (max-width: $ancho) {
      @content;
    }
  }
  @mixin mediaAlto ($alto) {
    @media (max-height: $alto) {
      @content;
    }
  }
  @mixin mediaMin ($ancho2) {
    @media (min-width: $ancho2) {
      @content;
    }
  }

// ================ main ===============

.main{
    &-main{
        // max-width: 1080px;
        // margin:25px 0 0 0;
        min-height: 100vh;
        transition: .3s;
        &.night{
            background: $black;
        }
    }
    &-hero{
        width: 100%;
        height: calc(100vh - 145px);
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    &-inner{
        // margin-top: 62px;
        padding: 62px 0 0 0;
        height: calc(100vh - 145px);
    }
    &-wInnerCol{
        margin: auto;
        width: 90%;
        max-width: 1080px;
    }
}


// ============== header =============

header{
    width: 100%;
    // height: 80px;
    margin: auto ;
    padding: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    background: #fff;
    transition: .3s;
    border:none;
    z-index: 7;
    @include night{
        background: $black;
    }
}

.header{
    &-controls{
        display: flex;
        
    }
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1080px;
        padding: 21px 0;
        @include lg{
            width: 90%;
        }
        .folio{
            &-back{
                display: none;
            }
        }
        &.open{
            .btn-back{
                display: flex;
            }
            .folio{
                display: none;
            }
        }
    }

    
}
// ============== footer =================

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 7px;
    margin-bottom: 21px;
    a{
        margin: 0 7px;
        color: $black;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;
        &:hover{
            color: $magenta;
        }
        @include night{
            color: #fff;
        }
    }
    span{
        font-weight: 700;
        // color: $black;
    }
    @include night{
        color: #fff;
    }
}
.footer{

}

// ============== scroll down =============

.wrap-scrollDown{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin: 0;
}

.txtEng{
 display: block;
    @include esp{
        display: none;
    }
}
.txtEsp{
    display: none;
    @include esp{
        display: block;
    }
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: $black;
    @include night{
        background: #fff
    }
}
.night::-webkit-scrollbar-thumb{
    background: #fff;
}
@import "./hero.scss";
@import "./elements.scss";
@import "./menu.scss";
@import "./modal.scss"; 